<div style="display: flex">
  <div class="card" style="width: 30%; margin: 3%; align-items: center">
    <img
      class="card-img-top"
      src="https://cdn-icons-png.flaticon.com/512/147/147142.png"
      alt="Card image"
      style="width: 50%"
    />
    <div class="card-body" style="align-content: center">
      <div class="center">
        <h4 class="card-title" style="text-align: center">John Doe</h4>
        <p class="card-text" style="text-align: center">{{ id }}</p>
        <input type="text" [(ngModel)]="id" />
        <button (click)="updateId(id)">Cambiar id</button>
      </div>
    </div>
  </div>
  <div class="card" style="width: 30%; margin: 3%; align-items: center">
    <img
      class="card-img-top"
      src="https://cdn-icons-png.flaticon.com/512/147/147142.png"
      alt="Card image"
      style="width: 50%"
    />
    <div class="card-body" style="align-content: center">
      <div class="center">
        <h4 class="card-title" style="text-align: center">John Doe</h4>
        <p class="card-text" style="text-align: center">{{ id }}</p>
        <input type="text" [(ngModel)]="id" />
        <button (click)="updateId(id)">Cambiar id</button>
      </div>
    </div>
  </div>
  <div class="card" style="width: 30%; margin: 3%; align-items: center">
    <img
      class="card-img-top"
      src="https://cdn-icons-png.flaticon.com/512/147/147142.png"
      alt="Card image"
      style="width: 50%"
    />
    <div class="card-body" style="align-content: center">
      <div class="center">
        <h4 class="card-title" style="text-align: center">John Doe</h4>
        <p class="card-text" style="text-align: center">{{ id }}</p>
        <input type="text" [(ngModel)]="id" />
        <button (click)="updateId(id)">Cambiar id</button>
      </div>
    </div>
  </div>
</div>
